/* Basic */
body {
    background: #ee3224;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}
h1,
h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
    position: relative;
    padding-top: 20px;
}
h1 {
    font-size: 6vw;
}
h2 {
    font-size: 25px;
}
h1:after,
h2:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100px;
}
h2:after {
    height: 5px;
}
h1:after {
    height: 10px;
}

/* Utils */

.line-above {
    border-top: 10px;
    border-color: #fff;
}
.large-spacing {
    padding: 50px 0;
}
.red-overlay {
    mix-blend-mode: multiply;
    background-color: red;
    position: absolute;
    width: 101%;
    left: -2px;
    top: -2px;
    bottom: 0;
    right: 0;
    height: 101%;
    z-index: 999;
    pointer-events: none;
}
.text-right {
    text-align: right;
}
.note {
    font-size: 12px;
    line-height: 1.2em;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.relative {
    position: relative;
}

/* Navigation */
nav {
    background-color: #fff;
    text-align: center;
}
.logo img {
    max-width: 120px;
}

/* Header */
header {
    background-image: url("assets/header_bg.jpg");
    background-size: cover;
    min-height: 400px;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
header h1 {
    margin: 20px;
}

/* Content */
.icon-grab {
    max-width: 30px;
    margin-bottom: 20px;
}
.intro-paragraph {
    padding-top: 100px;
}
.pull-back-image {
    margin-left: -70%;
}
